* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
  
/* Cabeçalho */
header {
    width: 100%;
    height: 200px;
    position: absolute;
    text-align: center;
    z-index: 2;
    line-height: 35pt;
    background-color: rgb(36, 25, 87);
    font-size: 24pt;
    color: rgb(245, 245, 245);
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
}

/* Itens da lista */
#logo {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    height: 120px;
    padding-top: 10px;
}

#links {
    list-style: none;
    font-size: 18pt;
    color: rgb(245, 245, 245);
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(245, 245, 245);
}

a:visited {
    color: rgb(174, 177, 248);
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: rgb(127, 129, 180);
}

.container-links { 
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 1;
    margin-top: 190px;
    line-height: 30pt;
    padding-top: 15px;
    padding-bottom: 6px;
    background-color: rgb(62, 44, 143);
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
}

#links #icon {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    height: 18pt;
}

/* dados da loja */

.info {
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 341px;
}

hr {
    margin: auto;
    background-color: rgb(127, 129, 180);
}